.notice-container {
  margin-top: 10px;
  min-height: 70vh;
}

.notices-container-card {
  margin-bottom: 30px;
}

@media (max-width: 992px) {
  .notices-container-card {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
