.footer-container {
  min-height: 20vh;
  font-size: 0.95rem !important;
}

.footer-container .jumbotron {
  margin-bottom: 0;
  padding-bottom: 16px;
}

.footer-container .quick {
  text-align: center;
}

.footer-container ul {
  list-style: none;
  text-align: left;
  text-align: center;
  padding: 0px;
}

.footer-container li {
  margin: 5px;
}

.footer-container a:hover {
  margin: 0px;
  padding: 5px;
  background-color: rgba(0, 255, 0, 0.2);
  border-radius: 5px;
  text-decoration: none;
}
