.footer-container {
  min-height: 20vh;
}

.footer-container .jumbotron {
  margin-bottom: 0;
  padding-bottom: 16px;
}

.footer-container .quick {
  text-align: center;
}

.footer-container ul {
  list-style: none;
  text-align: left;
  text-align: center;
}
