.btn:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.btn {
  transition: box-shadow 0.1s;
  animation: btn-anime 1s linear forward !important;
}

.btn:active {
  transform: scale(0.94);
}

.red-text {
  color: red !important;
}
